<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Customers list</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<!-- Latest compiled and minified JavaScript -->
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.3/jquery.min.js"
	th:href="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
<link href="../../static/css/spring-core.css"
	th:href="@{../css/spring-core.css}" type="text/css" rel="stylesheet" />
<link
	href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
	rel='stylesheet' type='text/css' />

<style type="text/css">
#createnew {
	font-size: 1.5em;
}
</style>
</head>

<body>
	<div id="container">
		<h1 align="center">Customers list below:</h1>
		<div class="container">
			<ul>
				<li th:each="customer: ${customers}">
					<h4
						th:text="'ID: ' + ${customer.id} + ' - ' + ${customer.firstName} + ' ' + ${customer.lastName} + ', ' + ${customer.city} + ' (' + ${customer.state} + ')'"></h4>
					<a th:href="@{'/customer/' + ${customer.id}}"> view </a> | 
					<a th:href="@{'/customer/edit/' + ${customer.id}}"> edit </a> | 
					<a th:href="@{'/customer/delete/' + ${customer.id}}"> delete </a>
				</li>
			</ul>
		</div>

		<br /> <br /> <a id="createnew" th:href="@{/customer/new-customer}">
			Add new customer... </a>
	</div>
</body>
</html>