<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <title>Customer Form</title>
        <link href="../../static/css/spring-core.css"
              th:href="@{../../css/spring-core.css}" type="text/css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
              rel='stylesheet' type='text/css' />

        <style type="text/css">
            .align-right {
                text-align: right;
            }

            .align-center {
                text-align: center;
            }

            .textfield {
                width: 220px;
            }
        </style>

    </head>

    <body>
        <div id="container">
            <div
                th:if="${#strings.startsWith(#httpServletRequest.requestURI , '/customer/edit/')}">
                <h1 class="align-center" style="margin-top: 100px">Edit:</h1>
            </div>
            <div
                th:unless="${#strings.startsWith(#httpServletRequest.requestURI , '/customer/edit/')}">
                <h1 class="align-center" style="margin-top: 100px">Add new:</h1>
            </div>
            <!-- pobieramy obiekt z requesta i przypisujemy do jego pól wartości z kontrolek. Dzieki '*' dajemy do zrozumienia że te wartości będą wysyłane POSTem -->
            <form th:action="@{/customer/persist-new}" th:object="${customer}"
                  method="post">
                <!-- id chyba nie musimy tworzyć tutaj bo i tak hibernate mu nada nowe -->
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{version}" />
                <table class="tableform">
                    <tr>
                        <td class="align-right">First name</td>
                        <td><input type="text" th:field="*{firstName}"
                                   class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">Last name</td>
                        <td><input type="text" th:field="*{lastName}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">City</td>
                        <td><input type="text" th:field="*{city}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">State</td>
                        <td><input type="text" th:field="*{state}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">Zip-Code</td>
                        <td><input type="text" th:field="*{zipcode}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">Address</td>
                        <td><input type="text" th:field="*{address}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">Telephone</td>
                        <td><input type="tel" th:field="*{telephone}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">Email</td>
                        <td><input type="email" th:field="*{email}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-center" colspan="2"><button class="button"
                                                                     type="submit">Save</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>

</html>