<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Customer review</title>
        <link href="../../static/css/spring-core.css"
              th:href="@{../css/spring-core.css}" type="text/css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
              rel='stylesheet' type='text/css' />

        <link rel='stylesheet' type="text/css" href="../../static/css/fontello.css" th:href="@{../css/fontello.css}" />
        
        <style type="text/css">
            #insidenodes {
                text-align: center;
            }

            #backlink {
                font-size: 1.2em;
            }

            #details {
                display: block;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 0;
                margin-right: 0;
            }
        </style>
    </head>

    <body>
        <div id="container">
            <div id="insidenodes">
                <h2 th:text="${customer.firstName} + ' ' + ${customer.lastName}"></h2>

                <div id="details">
                    <p th:text="'ID: ' + ${customer.id}"></p>
                    <p th:text="'City: ' + ${customer.city}"></p>
                    <p th:text="'State: ' + ${customer.state}"></p>
                    <p th:text="'Zip-code: ' + ${customer.zipcode}"></p>
                    <p th:text="'Address ' + ${customer.address}"></p>
                    <p th:text="'Telephone ' + ${customer.telephone}"></p>
                    <p th:text="'Email ' + ${customer.email}"></p>
                </div>

                <div style="height: 10px"></div>

                <h3>
                    <i class="icon-reply" /> <a id="backlink" href="customer" th:href="@{/customer/customer-list}">
                        Back to customer list... </a>
                </h3>
            </div>
        </div>
    </body>

</html>