<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head lang="en">
        <title>Page not found</title>
        <meta charset="UTF-8"/>

        <link href="../static/css/spring-core.css" type="text/css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />

        <link
            href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
            rel='stylesheet' type='text/css' />
        
        <link rel='stylesheet' type="text/css" href="../static/css/fontello.css" th:href="@{css/fontello.css}" />
    </head>
    
    <body>
        <div id="container">
            <h1 id="errorMessage" style="margin-top: 80px;">This page doesn't exists, sorry...</h1>
            <div style="margin-top: 100px;" />
            <i class="icon-reply" /> <a href="/index.html" th:href="@{/}" >Get back to index page</a>
        </div>
    </body>
</html>
