<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head lang="en">
        <meta charset="UTF-8" />
        <title>Spring MVC tutorial</title>

        <!-- jeżeli strona będzie uruchomiona z poziomu przeglądarki to skorzysta z referencji do strony cdn, a jeżeli z serweru tomcata to thymeleaf wykorzysta podaną ścieżkę do pliku -->
        <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
            rel="stylesheet" media="screen" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.3/jquery.min.js"
        th:href="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>

        <link href="../static/css/spring-core.css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />

        <link
            href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
            rel='stylesheet' type='text/css' />

    </head>

    <body>
        <div id="container">
            <h1>Hello !</h1>
            <ul>
                <li>
                    <h2>
                        <a th:href="@{/product/product-list}">Products</a>
                    </h2>
                </li>
                <li>
                    <h2>
                        <a th:href="@{/customer/customer-list}">Customers</a>
                    </h2>
                </li>
            </ul>
        </div>
    </body>
</html>