@CHARSET "UTF-8";

body {
	background: #aad7ed;
	font-family: 'Karla', sans-serif;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.tableform{
	width: 500px;
	border: solid 1px gray;
	padding: 20px;
	background-color: #CCCCFF;
	margin-left:auto; 
    margin-right:auto;
}
.button {
	width: 180px;
	height: 30px;
	margin-top: 10px;
	

    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#errorMessage{
    color: brown;
    font-size: 25pt;
}