<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <style type="text/css">
            .align-right {
                text-align: right;
            }

            .align-center {
                text-align: center;
            }

            .textfield {
                width: 220px;
            }
        </style>

        <link href="../../static/css/spring-core.css" th:href="@{../../css/spring-core.css}" rel="stylesheet" media="screen" />
        <link
            href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
            rel='stylesheet' type='text/css' />

        <title>Insert title here</title>
    </head>


    <body>
        <div id="container">
            <div
                th:if="${#strings.startsWith(#httpServletRequest.requestURI , '/product/edit/')}">
                <h1 class="align-center" style="margin-top: 100px">Edit:</h1>
            </div>
            <div th:unless="${#strings.startsWith(#httpServletRequest.requestURI , '/product/edit/')}">
                <h1 class="align-center" style="margin-top: 100px">Create new:</h1>
            </div>
            <!-- pobieramy obiekt z requesta i przypisujemy do jego pól wartości z kontrolek. Dzieki '*' dajemy do zrozumienia że te wartości będą wysyłane POSTem -->
            <form th:action="@{/product/create-new}" th:object="${product}" method="post">
                <!-- id chyba nie musimy tworzyć tutaj bo i tak hibernate mu nada nowe -->
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{version}" />
                <table class="tableform">
                    <tr>
                        <td class="align-right">Description</td>
                        <td><input type="text" th:field="*{description}"
                                   class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">Price</td>
                        <td><input type="number" th:field="*{price}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-right">Gif url</td>
                        <td><input type="url" th:field="*{imageURL}" class="textfield" /></td>
                    </tr>
                    <tr>
                        <td class="align-center" colspan="2"><button class="button"
                                                                     type="submit">Save</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>