<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en">
        <meta charset="UTF-8" />
        <title>Product description</title>

        <!-- jeżeli strona będzie uruchomiona z poziomu przeglądarki to skorzysta z referencji do strony cdn, a jeżeli z serweru tomcata to thymeleaf wykorzysta podaną ścieżkę do pliku -->
        <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
            rel="stylesheet" media="screen" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.3/jquery.min.js"
        th:href="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>

        <!-- th:href - musimy wyjść katalog wyżej ponieważ jesteśmy a adresie /product/'nr' -->
        <link href="../../static/css/spring-core.css"
              th:href="@{../css/spring-core.css}" rel="stylesheet" media="screen" />

        <link href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
              rel='stylesheet' type='text/css' />
        
        <link rel='stylesheet' type="text/css" href="../../static/css/fontello.css" th:href="@{../css/fontello.css}" />

        <style type="text/css">
            #insidenodes {
                text-align: center;
            }
            #backlink{
                font-size: 1.2em;
            }
        </style>

    </head>

    <body>
        <div id="container">
            <div id="insidenodes">
                <h1	th:text="${product.description} + '(' + ${product.price} + ' zł)'"></h1>

                <!-- sprawdzamy czy obrazek jest lokalnie czy w internecie -->
                <div th:if="${#strings.startsWith(product.imageURL,'http')}">
                    <img alt="gif" height="500" width="500"	th:src="@{${product.imageURL}}" />
                </div>
                <div th:unless="${#strings.startsWith(product.imageURL,'http')}">
                    <img alt="image link broken" height="500" width="500" th:src="@{'/gifs/' + ${product.imageURL} + '.gif'}" />
                </div>

                <div style="height:10px"></div>
                <i class="icon-reply" /><a id="backlink" href="products" th:href="@{/product/product-list}"> Back to products list... </a>
            </div>
        </div>

    </body>
</html>