<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<meta charset="UTF-8" />
<title>Products</title>

<!-- jeżeli strona będzie uruchomiona z poziomu przeglądarki to skorzysta z referencji do strony cdn, a jeżeli z serweru tomcata to thymeleaf wykorzysta podaną ścieżkę do pliku -->
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<!-- Latest compiled and minified JavaScript -->
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.3/jquery.min.js"
	th:href="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>

<link href="../../static/css/spring-core.css"
	th:href="@{../css/spring-core.css}" rel="stylesheet" media="screen" />

<link
	href='https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin,latin-ext'
	rel='stylesheet' type='text/css' />

<style type="text/css">
#createnew{
	font-size: 1.5em;
}
</style>

</head>

<body>
	<div id="container">
		<h1 align="center">Products list below:</h1>
		<div class="container">
			<ul>
				<li th:each="product: ${products}">
					<h4	th:text="'ID: ' + ${product.id} + ' - ' + ${product.description} + ', price: ' + ${product.price}"></h4>
					<a th:href="@{'/product/' + ${product.id}}"> view </a> |
					<a th:href="@{'/product/edit/' + ${product.id}}"> edit </a> |
					<a th:href="@{'/product/delete/' + ${product.id}}"> delete </a>
				</li>
			</ul>
		</div>

		<br /> <br /> 
		<a id="createnew" th:href="@{/product/new-product-form}"> Create new product... </a>
	</div>
</body>
</html>